<form action="/create" method="POST">
 <h2>create5</h2>

 <div class="input-field">
    <input type="text" name="title">
    <label>whAT</label>
 </div>

 <button type="submit" class="btn">add</button>
</form>